{% extends 'base.html.twig' %}

{% block title %}Carnet de voyage{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/page.css">
{% endblock %}

{% block javascripts %}
{% if is_admin() %}
<script type="module" src="/assets/js/confirmDialog.js"></script>
{% endif %}
{% endblock %}

{% block body %}

<section class="landing">

    {% if page.headerImage %}
    <img src="{{ file(page.headerImage) }}" alt="Image de fond"/>
    {% endif %}

    <h1>{{ page.name }}</h1>
    <p class="subtitle">{{ page.subtitle }}</p>

</section>

<main>
    {{ page.content|raw }}
</main>


{% if is_admin() %}
    <a class="btn btn-primary" id="edit_page" href="{{ path('page_edit', { id: page.id }) }}"><span>edit</span></a>
{% endif %}

{% endblock %}
