{% extends 'base.html.twig' %}

{% block title %}Contacter{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/admin_form.css">
{% endblock %}

{% block javascripts %}
<script src="/assets/js/tinymce.js"></script>
{% endblock %}

{% block body %}
<main>

    <h1>Contacter</h1>
    <p class="subtitle"><span style="color: red">*</span> Champs obligatoires</p>

    {{ form_start(form) }}

    <div class="form-field required">
        {{ form_label(form.product) }}
        {{ form_widget(form.product) }}
        {{ form_errors(form.product) }}
    </div>

    <div class="form-field required">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-field">
        {{ form_label(form.tel) }}
        {{ form_widget(form.tel) }}
        {{ form_errors(form.tel) }}
    </div>

    <div class="form-field">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    
    <div class="form-field">
        {{ form_label(form.message) }}
        {{ form_widget(form.message) }}
        {{ form_errors(form.message) }}
    </div>

    <div class="form-actions">
        <a href="javascript:history.back()" class="btn btn-secondary">Annuler</a>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    
    {{ form_end(form) }}

</main>

{% endblock %}
