{% extends 'base.html.twig' %}

{% block title %}Ajouter un lien{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/admin_form.css') }}">
{% endblock %}

{% block body %}

<main>
    
    <h1>Ajouter un lien</h1>
    <p class="subtitle"><span style="color: red">*</span> Champs obligatoires</p>

    {{ form_start(form) }}
    
    <div class="form-field requiered">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'field', 'placeholder': 'Articles'}}) }}
        {{ form_errors(form.name) }}
    </div>
    
    <div class="form-field requiered">
        {{ form_label(form.image) }}
        {{ form_widget(form.image, {'attr': {'class': 'field', 'placeholder': 'articles.png'}}) }}
        {{ form_errors(form.image) }}
    </div>
    
    <div class="form-field requiered">
        {{ form_label(form.url) }}
        {{ form_widget(form.url, {'attr': {'class': 'field', 'placeholder': '/articles'}}) }}
        {{ form_errors(form.url) }}
    </div>
    
    <div class="form-actions">
        <a href="{{ path('index') }}" class="btn btn-secondary">Annuler</a>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    
    {{ form_end(form) }}

</main>

{% endblock %}
