{% extends 'base.html.twig' %}

{% block title %}Ajouter un dépêche{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/admin_form.css">
{% endblock %}

{% block body %}

<main>
    
    <h1>Ajouter une dépêche</h1>
    <p class="subtitle"><span style="color: red">*</span> Champs obligatoires</p>

    {{ form_start(form) }}
    
    <div class="form-field requiered">
        {{ form_label(form.text) }}
        {{ form_widget(form.text) }}
        {{ form_errors(form.text) }}
    </div>
    
    <div class="form-actions">
        <a href="{{ path('index') }}" class="btn btn-secondary">Annuler</a>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    
    {{ form_end(form) }}

</main>

{% endblock %}
