{% extends 'base.html.twig' %}

{% block title %}Pascal Doucet - Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/styles/index.css">
{% endblock %}

{% block javascripts %}
    <script type="module" src="/assets/js/confirmDialog.js"></script>
{% endblock %}

{% block body %}

<!-- LANDING -->
<section class="landing">

    <h1>{{ content('index.quote') }}</h1>
    <p class="subtitle">{{ content('index.quote.author') }}</p>

</section>

<!-- PERSENTATION -->
<section class="presentation">

    <h3>10/04/2025</h3>
    <h2>Présentation</h2>

    <div class="richtext">
        {{ content('index.introduction') | raw }}
    </div>

    <div class="rightbar">
        <p>{{ content('fullname') }}</p>
        <img src="/assets/images/portrait.png" alt="Pascal Doucet" />
    </div>

</section>

{% if lastArticle %}
<!-- RECENT ARTICLES -->
<section class="last-article">

    <h3>Dernier article</h3>
    <h2>{{ lastArticle.title }}</h2>
    <p>
        {{ lastArticle.text|raw }}
    </p>

    <div class="section-actions">
        <a href="{{ path('article', {id: lastArticle.id}) }}" class="btn btn-primary">Continuer de lire</a>
    </div>

</section>
{% endif %}

<!-- COUPS DE CŒUR -->
<section class="heart">

    <h3>Coups de cœur du moment</h3>
    <h2>Coups de cœur</h2>

    <div id="heart_container">

        {% if is_admin() %}
            <div class="heart-card add" onclick="window.location='{{ path('heartpic_create') }}'">
                <img src="/assets/images/create_heartpic.png" alt="Ajouter un nouveau coup de coeur"/>
            </div>
        {% endif %}

        {% for heartPic in heartPics %}
        <div class="heart-card">

            <img src="{{ file(heartPic.image) }}" alt="Image du coup de coeur '{{ heartPic.title }}'"/>
            <div class="heart-card-content">
                <div>
                    <p class="heart-card-title">{{ heartPic.title }}</p>
                    {% if heartPic.subtitle %}
                    <p class="heart-card-subtitle">{{ heartPic.subtitle }}</p>
                    {% endif %}
                </div>
                {% if heartPic.text %}
                <p class="heart-card-text">
                    {{ heartPic.text }}
                </p>
                {% endif %}
                {% if heartPic.link %}
                <a class="heart-card-action" href="{{ heartPic.link }}" target="_blank">En savoir plus</a>
                {% endif %}
            </div>
            
            {% if is_admin() %}
                <div class="card-admin-actions">
                    <a class="btn btn-primary" href="{{ path('heartpic_edit', { id: heartPic.id }) }}"><span>edit</span></a>
                    <button class="btn btn-danger confirmDialog" action="{{ path('heartpic_delete', { id: heartPic.id }) }}"><span>delete</span></button>
                </div>
            {% endif %}

        </div>
        {% endfor %}

    </div>

</section>

<!-- DEPECHE -->
<section class="depeche">

    <h2>Nouvelles du monde</h2>
    <div class="depeche-container">
        <ul>
            {% for depeche in positiveDepeches %}
            <li>
                <span class="material-symbols-outlined">favorite</span>{{ depeche.text }}
                {% if is_admin() %}
                <a href=" {{ path('depeche_delete', {id: depeche.id}) }}" class="material-symbols-outlined">delete</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <ul>
            {% for depeche in negativeDepeches %}
            <li>
                <span class="material-symbols-outlined">sentiment_dissatisfied</span>{{ depeche.text }}
                {% if is_admin() %}
                <a href=" {{ path('depeche_delete', {id: depeche.id}) }}" class="material-symbols-outlined">delete</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if is_admin() %}
    <a class="btn btn-secondary-darker add" href="{{ path('depeche_create') }}"><span>add</span>Ajouter une dépêche</a>
    {% endif %}

</section>

<!-- LINKS -->
<section class="links">

    {% for link in links %}
    <div>
        {% if link.page %}
        <img src="{{ file(link.image) }}" alt="Image d'illustration de la page {{ link.page.name }}" onclick="window.location='{{ path('page', { slug: link.page.slug }) }}'"/>
        <p onclick="window.location='{{ path('page', { slug: link.page.slug }) }}'">{{ link.page.name }}</p>
        {% else %}
        <img src="{{ file(link.image) }}" alt="Image d'illustration de la page {{ link.name }}" onclick="window.location='{{ link.url }}'"/>
        <p onclick="window.location='{{ link.url }}'">{{ link.name }}</p>
        {% endif %}

        {% if is_admin() %}
            <div class="card-admin-actions">
                <a class="btn btn-primary" href="{{ path('indexlink_edit', { id: link.id }) }}"><span>edit</span></a>
                <button class="btn btn-danger confirmDialog" action="{{ path('indexlink_delete', { id: link.id }) }}"><span>delete</span></button>
            </div>
        {% endif %}
    </div>
    {% endfor %}

    {% if is_admin() %}
        <div onclick="window.location='{{ path('indexlink_create') }}'">
            <img src="/assets/images/create_indexlink.png" alt="Créer un nouveau lien" />
            <p>Créer un nouveau lien</p>
        </div>
    {% endif %}

</section>

{% endblock %}
