{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
{% endblock %}

{% block body %}

<section class="landing">

    <h1>{{ content('index.quote') }}</h1>
    <p class="subtitle">{{ content('index.quote.author') }}</p>

</section>

<section class="presentation">

    <h3>10/04/2025</h3>
    <h2>Présentation</h2>

    <p>
        Nous vivons une époque singulière, ô combien anxiogène de par les défis auxquels nous sommes confrontés, mais c’est aussi une époque qui nous oblige à nous réinventer, avec a minima, la perspective du réenchantement de notre existence, et pourquoi pas, à notre niveau, participer à réenchanter notre monde et à bâtir une nouvelle humanité  fondée sur d’autres valeurs.
        <br/>
        <br/>
        Le monde « développé » a atteint un tel niveau de « performance » qu’il nous est  impossible de l’appréhender, tant dans les domaines de la technologie que des sciences. Et pourtant, force est de constater que le mal-être va grandissant, et que pour ce qui est de la santé, malgré les progrès médicaux, malgré l’énergie et le savoir-faire que déploient les soignants, il est bien difficile, à ces derniers, de répondre à des besoins de plus en plus aigus - souffrances psychiques de multiples origines, maladies de civilisation dues à la malbouffe, au stress, à la pollution… - d’autant que les moyens alloués aux services publics de la santé s’amenuisent.
    </p>

    <div class="rightbar">
        <p>{{ content('fullname') }}</p>
        <img src="{{ asset('images/portrait.png') }}" alt="Pascal Doucet" />
    </div>

</section>

{% endblock %}
