{% extends 'base.html.twig' %}

{% block title %}Modifier les textes statiques{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/content.css">
{% endblock %}

{% block javascripts %}
<script type="module" src="/assets/js/content.js"></script>
<script type="module" src="/assets/js/tinymce.js"></script>
{% endblock %}

{% block body %}

<main>

    <h1>Content</h1>
    <p class="subtitle">Modifier les textes statiques</p>

    <div class="search-container">
        <input type="text" class="field" id="search" placeholder="index.quote.author" />
    </div>

    <div id="container">

        {% for item in data %}
            <div content-key="{{item.elm.key}}" content-type="{{item.elm.type}}" class="card">

                <p><span class="card-key">{{ item.elm.key }} :</span> "{{ item.elm.content }}"</p>

                <div class="card-content">
                    {% if item.elm.type != 'text' %}
                    <label>Valeur a afficher :</label>
                    {% endif %}
                    {{ form_start(item.form) }}
                    {{ form_widget(item.form.content) }}
                    <button class="btn btn-primary btn-small" type="submit"><span>save</span>Modifier</button>
                    {{ form_end(item.form) }}
                </div>

            </div>
        {% endfor %}

        <p id="no-result">Aucun texte trouvée.</p>

    </div>

</main>

{% endblock %}
