<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Pascal Doucet{% endblock %}</title>
        <link rel="icon" href="/assets/images/favicon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" href="/assets/styles/general.css">
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>

        <!-- HEADER -->
        <header>
            <i class="mobile-burger">menu</i>
            <nav class="nav">
                <ul>
                    {% for link in header_links %}
                        <li><a href="{{ link.path }}">{{ link.title }}</a></li>
                    {% endfor %}
                    <li class="only-mobile"><i class="mobile-burger mobile-close">close</i></li>
                </ul>
            </nav>
        </header>

        <!-- BODY -->
        {% block body %}{% endblock %}

        <!-- FOOTER -->
        <footer>
            <div>
                <p>Pascal Doucet</p>
                <a href="tel:{{ setting('phone') }}">{{ setting('phone') }}</a>
                <a href="mail:{{ setting('email') }}">{{ setting('email') }}</a>
                <a href="https://pdoucet.fr">pdoucet.fr</a>
            </div>
            <div>
                <p>Site web</p>
                <a href="{{ path('legal') }}">Mentions légales</a>
                {% if is_admin() %}
                    <a href="/logout">Se déconnecter</a>
                    <a href="/dashboard">Dashboard</a>
                {% else %}
                    <a href="/login">Connexion</a>
                {% endif %}
                <a href="#">Copyright &copy; Pascal Doucet - 2025</a>
            </div>
            <div>
                <p>Réseaux sociaux</p>
                <a href="#">@pascaldoucet</a>
                <a href="#">/pdoucet</a>
                <a href="#">@mieuxetre</a>
            </div>
        </footer>
        
        <!-- SCRIPTS -->
        <script src="/assets/js/libs/sweetalert.min.js"></script>
        <script src="/assets/js/header.js"></script>
        {% block javascripts %}
        {% endblock %}
    
    </body>
</html>
