{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/articles.css">
{% endblock %}

{% block javascripts %}
<script src="/assets/js/articles.js"></script>
{% endblock %}

{% block body %}
<main>

    <!-- LANDING -->
    <h1>Articles</h1>
    <p class="subtitle">Liste des articles</p>

    <div class="content-wrapper">

        <!-- SEARCH -->
        {{ form_start(form) }}

        {{ form_widget(form.q) }}

        <div class="form-field form-switch-field">
            {{ form_label(form.h) }}
            <label class="field-switch">
                {{ form_widget(form.h) }}
                <span class="field-switch-slider"></span>
            </label>
        </div>
        
        {{ form_end(form) }}

        <!-- RESULT -->
        <div class="articles-container">
            {% for article in pagination %}

                <a class="article-card {{ showHiddenArticles ? 'hidden' : '' }}" href="{{ path('article', {id: article.id}) }}">
                    <p class="article-card-date">{{ article.dateCreated | date('d/m/Y') }}</p>
                    <p class="article-card-title">{{ article.title }}</p>
                    <p class="article-card-subtitle">{{ article.subtitle }}</p>

                    {% if article.tags is not empty %}
                        <p class="article-card-tags">
                            {% for tag in article.tags|split(';') %}
                                {% if tag|trim is not empty %}
                                    <span class="article-tag">{{ tag|trim }}</span>
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                </a>

            {% endfor %}
            {% if pagination is empty %}
                <p class="no-article">Aucun article trouvé.</p>
            {% endif %}
        </div>

        <!-- PAGINATION -->
        {{ knp_pagination_render(pagination, null, {
            'query': app.request.query.all
        }) }}

    </div>

    <!-- ADD BUTTON -->
    {% if is_admin() %}
        <a class="btn btn-primary" id="new_article" href="{{ path('article_create') }}"><span>post_add</span></a>
    {% endif %}

</main>
{% endblock %}
