{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/article_write.css">
{% endblock %}

{% block javascripts %}
<script src="/assets/js/tinymce.js"></script>
{% endblock %}

{% block body %}

<main>

    {{ form_start(form) }}
    
    {{ form_widget(form.content) }}
    {{ form_errors(form.content) }}

    <div class="bottom-buttons">
        <a href="{{ path('article', {id: articleId}) }}" class="btn btn-secondary">Annuler</a>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>

    {{ form_end(form) }}

</main>

{% endblock %}
