{% extends 'base.html.twig' %}

{% block title %}Amis{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/amis.css">
{% endblock %}

{% block javascripts %}
{% if is_admin() %}
<script type="module" src="/assets/js/confirmDialog.js"></script>
{% endif %}
{% endblock %}

{% block body %}

<main>
    
    <h1>Liens amis</h1>
    <p class="subtitle">Composantes personnes</p>

    <div class="friend-container">
        {% for ami in amis %}
            <div class="friend">

                {% if ami.avatarFilename %}
                    <img src="{{ file(ami.avatarFilename) }}" alt="Photo de {{ ami.fullname }}" class="avatar" />
                {% endif %}

                <p class="fullname">{{ ami.fullname }}</p>

                {% if ami.description %}
                    <p class="description">{{ ami.description | raw }}</p>
                {% endif %}

                {% if ami.websiteUrl %}
                    <a class="btn btn-secondary-darker" href="{{ ami.websiteUrl }}" target="_blank" rel="noopener noreferrer"><span class="material-symbols-outlined">language</span>Site web</a>
                {% endif %}

                {% if ami.facebookUrl %}
                    <a class="btn btn-facebook" href="{{ ami.facebookUrl }}" target="_blank" rel="noopener noreferrer"><span class="material-symbols-outlined">share</span>Facebook</a>
                {% endif %}
                
                {% if is_admin() %}
                    <div class="card-admin-actions">
                        <a  class="btn btn-primary" href="{{ path('friend_edit', { id: ami.id }) }}"><span>edit</span></a>
                        <button class="btn btn-danger confirmDialog" action="{{ path('friend_delete', { id: ami.id }) }}"><span>delete</span></button>
                    </div>
                {% endif %}

            </div>
        {% endfor %}
    </div>
    
    {% if is_admin() %}
        <a class="btn btn-primary" id="person_add" href="{{ path('friend_create') }}"><span>person_add</span><!--  Ajouter un ami --></a>
    {% endif %}

</main>

{% endblock %}
