{% extends 'base.html.twig' %}

{% block title %}Ajouter une étape{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/admin_form.css">
<link rel="stylesheet" href="/assets/styles/journey_form.css">
{% endblock %}

{% block javascripts %}
<script src="/assets/js/tinymce.js"></script>
{% endblock %}

{% block body %}

<main>
    
    <h1>Ajouter une étape de voyage</h1>
    <p class="subtitle"><span style="color: red">*</span> Champs obligatoires</p>

    {{ form_start(form) }}

    <div class="form-field required">
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
        {{ form_errors(form.date) }}
    </div>

    <div class="form-field required">
        {{ form_label(form.location) }}
        {{ form_widget(form.location) }}
        {{ form_errors(form.location) }}
    </div>

    <div class="form-field">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>

    <p class="loc-info">Pour afficher l'emplacement sur la carte, il faut soit les coordonnées, soit une adresse. Il n'est pas nécessaire de renseigner à la fois l'adresse et les coordonnées.</p>
    
    <div class="form-field">
        {{ form_label(form.address) }}
        {{ form_widget(form.address) }}
        {{ form_errors(form.address) }}
    </div>

    <div class="loc-container">

        <div class="form-field">
            {{ form_label(form.lo) }}
            {{ form_widget(form.lo) }}
            {{ form_errors(form.lo) }}
        </div>

        <div class="form-field">
            {{ form_label(form.la) }}
            {{ form_widget(form.la) }}
            {{ form_errors(form.la) }}
        </div>

    </div>
    
    <div class="form-actions">
        <a href="{{ path('journey') }}" class="btn btn-secondary">Annuler</a>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    
    {{ form_end(form) }}

</main>

{% endblock %}
